Repository KonsumGandalf/RegensburgStudentProgressDashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: nx format:write --uncommitted, nx affected --target stylelint --fix true

.lintstagedrc.yml:

'*.{html,ts,mjs}':
    - nx format:write --uncommitted
'*.{json,md,yml}':
    - nx format:write --uncommitted
'*.{scss,css}':
    - nx affected --target stylelint --fix true
    - nx format:write --uncommitted

feat(frontend):
  .commitlintrc.js
  libs/shared/common/styles/project.json
  libs/shared/common/styles/src/scss/_globals.scss
  libs/shared/common/styles/src/scss/objects/_index.scss
  libs/shared/common/styles/src/scss/objects/vendors/_icons.scss
  libs/shared/common/styles/src/scss/rspd-style.scss
  libs/shared/common/styles/src/scss/settings/generic/_colors.scss
  libs/shared/common/styles/src/scss/settings/vendors/_bootstrap.scss
  libs/shared/frontend/storybook-host/.storybook/main.ts
  libs/shared/frontend/storybook-host/project.json
Due: nx format:write --uncommitted, nx affected --target stylelint --fix true

feat(frontend):
  .commitlintrc.js
Due: none

feat(frontend):
  libs/shared/frontend/ui/atoms/.eslintrc.json
  libs/shared/frontend/ui/atoms/documentation.json
  libs/shared/frontend/ui/atoms/src/lib/button/button.component.html
  libs/shared/frontend/ui/atoms/src/lib/button/button.component.scss
  libs/shared/frontend/ui/atoms/src/lib/button/button.component.ts
  libs/shared/frontend/ui/atoms/src/lib/button/button.stories.ts
  libs/shared/frontend/ui/atoms/src/lib/button/component/button.component.html
  libs/shared/frontend/ui/atoms/src/lib/button/component/button.component.scss
  libs/shared/frontend/ui/atoms/src/lib/button/component/button.component.spec.ts
  libs/shared/frontend/ui/atoms/src/lib/button/component/button.component.ts
  libs/shared/frontend/ui/atoms/src/lib/button/models/button-appearance.ts
  libs/shared/frontend/ui/atoms/src/lib/button/models/public-api.ts
  libs/shared/frontend/ui/atoms/src/lib/button/public-api.ts
  libs/shared/frontend/ui/atoms/src/lib/icon/models/icon-color.ts
  libs/shared/frontend/ui/atoms/src/lib/icon/models/icon-size.ts
  libs/shared/frontend/ui/atoms/src/lib/icon/models/phosphor-icons.ts
  libs/shared/frontend/ui/atoms/src/lib/icon/models/public-api.ts
  libs/shared/frontend/ui/atoms/src/lib/icon/models/topic-icons.ts
  libs/shared/frontend/ui/atoms/src/lib/icon/public-api.ts
  libs/shared/frontend/ui/atoms/src/lib/public-api.ts
Due: nx format:write --uncommitted, nx affected --target stylelint --fix true

feat(shared-frontend-ui):
  libs/shared/common/styles/src/scss/objects/_index.scss
  libs/shared/common/styles/src/scss/objects/vendors/_index.scss
  libs/shared/common/styles/src/scss/settings/_index.scss
  libs/shared/common/styles/src/scss/settings/generic/_index.scss
  libs/shared/common/styles/src/scss/settings/generic/_margin.scss
  libs/shared/common/styles/src/scss/settings/generic/_padding.scss
  libs/shared/common/styles/src/scss/settings/vendors/_bootstrap.scss
  libs/shared/frontend/ui/atoms/.eslintrc.json
  libs/shared/frontend/ui/atoms/documentation.json
  libs/shared/frontend/ui/atoms/src/lib/button/component/button.component.scss
  libs/shared/frontend/ui/atoms/src/lib/button/component/button.component.ts
  libs/shared/frontend/ui/atoms/src/lib/button/models/button-appearance.ts
  libs/shared/frontend/ui/atoms/src/lib/card/component/card.component.html
  libs/shared/frontend/ui/atoms/src/lib/card/component/card.component.scss
  libs/shared/frontend/ui/atoms/src/lib/card/component/card.component.spec.ts
  libs/shared/frontend/ui/atoms/src/lib/card/component/card.component.stories.ts
  libs/shared/frontend/ui/atoms/src/lib/card/component/card.component.ts
  libs/shared/frontend/ui/atoms/src/lib/card/models/card-appearance.ts
  libs/shared/frontend/ui/atoms/src/lib/card/models/public-api.ts
  libs/shared/frontend/ui/atoms/src/lib/card/public-api.ts
  libs/shared/frontend/ui/atoms/src/lib/icon/component/icon.component.ts
Due: nx format:write --uncommitted, nx affected --target stylelint --fix true

fix(shared-frontend-ui): enum entries to SNAKE_CASE
  libs/shared/frontend/ui/atoms/src/lib/icon/component/icon.component.stories.ts
  libs/shared/frontend/ui/atoms/src/lib/icon/component/icon.component.ts
  libs/shared/frontend/ui/atoms/src/lib/icon/models/oth-logos.ts
  libs/shared/frontend/ui/atoms/src/lib/icon/models/phosphor-icons.ts
  libs/shared/frontend/ui/atoms/src/lib/icon/models/topic-icons.ts
Due: nx format:write --uncommitted

feat(shared-frontend-ui): add more oth logos
  libs/shared/frontend/assets/src/lib/svgs/oth-logo.svg
  libs/shared/frontend/assets/src/lib/svgs/rsds-simple-black.svg
  libs/shared/frontend/assets/src/lib/svgs/rsds-simple-white.svg
Due: none

feat(shared-frontend-ui): add inter font as display font
  apps/frontend/src/styles.scss
  libs/shared/common/styles/src/scss/settings/generic/_index.scss
  libs/shared/common/styles/src/scss/settings/generic/_typography.scss
  libs/shared/common/styles/src/scss/settings/vendors/_bootstrap.scss
  libs/shared/frontend/assets/src/lib/fonts/inter/inter.ttf
  libs/shared/frontend/assets/src/lib/fonts/inter/static/Inter-Black.ttf
  libs/shared/frontend/assets/src/lib/fonts/inter/static/Inter-Bold.ttf
  libs/shared/frontend/assets/src/lib/fonts/inter/static/Inter-ExtraBold.ttf
  libs/shared/frontend/assets/src/lib/fonts/inter/static/Inter-ExtraLight.ttf
  libs/shared/frontend/assets/src/lib/fonts/inter/static/Inter-Light.ttf
  libs/shared/frontend/assets/src/lib/fonts/inter/static/Inter-Medium.ttf
  libs/shared/frontend/assets/src/lib/fonts/inter/static/Inter-Regular.ttf
  libs/shared/frontend/assets/src/lib/fonts/inter/static/Inter-SemiBold.ttf
  libs/shared/frontend/assets/src/lib/fonts/inter/static/Inter-Thin.ttf
Due: nx format:write --uncommitted, nx affected --target stylelint --fix true

feat(shared-frontend-ui): add card component and adjust icon component
  libs/shared/frontend/storybook-host/src/index.ts
  libs/shared/frontend/storybook-host/src/test-setup.ts
  libs/shared/frontend/ui/atoms/documentation.json
  libs/shared/frontend/ui/atoms/src/lib/card/component/card.component.html
  libs/shared/frontend/ui/atoms/src/lib/card/component/card.component.scss
  libs/shared/frontend/ui/atoms/src/lib/card/component/card.component.stories.ts
  libs/shared/frontend/ui/atoms/src/lib/card/component/card.component.ts
  libs/shared/frontend/ui/atoms/src/lib/icon/component/icon.component.scss
  libs/shared/frontend/ui/atoms/src/lib/icon/component/icon.component.stories.ts
  libs/shared/frontend/ui/atoms/src/lib/icon/component/icon.component.ts
  libs/shared/frontend/ui/atoms/src/lib/icon/models/icon-size.ts
  libs/shared/frontend/ui/atoms/src/lib/icon/models/icon-union.ts
  libs/shared/frontend/ui/atoms/src/lib/icon/models/oth-logos.ts
Due: nx format:write --uncommitted, nx affected --target stylelint --fix true

fix(shared-frontend-ui): lint and test errors
  libs/shared/frontend/storybook-host/.eslintrc.json
  libs/shared/frontend/storybook-host/jest.config.ts
  libs/shared/frontend/storybook-host/project.json
  libs/shared/frontend/ui/atoms/src/lib/card/component/card.component.spec.ts
  libs/shared/frontend/ui/atoms/src/lib/card/component/card.component.stories.ts
Due: nx format:write --uncommitted

feat(shared-frontend-ui): Integrate Input Atom
  libs/shared/frontend/ui/atoms/src/lib/input/component/input.component.html
  libs/shared/frontend/ui/atoms/src/lib/input/component/input.component.scss
  libs/shared/frontend/ui/atoms/src/lib/input/component/input.component.spec.ts
  libs/shared/frontend/ui/atoms/src/lib/input/component/input.component.ts
Due: nx format:write --uncommitted, nx affected --target stylelint --fix true

feat(shared-frontend-ui): Integrate Material Web Components
  package-lock.json
  package.json
Due: nx format:write --uncommitted

feat(shared-frontend-ui): Adjust old components to new requirements
  libs/shared/common/styles/src/scss/settings/generic/_colors.scss
  libs/shared/frontend/ui/atoms/documentation.json
  libs/shared/frontend/ui/atoms/src/lib/button/component/button.component.scss
  libs/shared/frontend/ui/atoms/src/lib/card/component/card.component.scss
  libs/shared/frontend/ui/atoms/src/lib/card/component/card.component.ts
  libs/shared/frontend/ui/atoms/src/lib/card/models/card-padding.ts
  libs/shared/frontend/ui/atoms/src/lib/input/component/input.component.stories.ts
  libs/shared/frontend/ui/atoms/src/lib/input/models/public-api.ts
  libs/shared/frontend/ui/atoms/src/lib/input/models/text-appearance.ts
  libs/shared/frontend/ui/atoms/src/lib/input/models/text-field.ts
Due: nx format:write --uncommitted, nx affected --target stylelint --fix true

fix(shared-frontend-ui): Remove unused imports
  libs/shared/frontend/ui/atoms/src/lib/input/component/input.component.stories.ts
Due: nx format:write --uncommitted

feat(base-application):
  .eslintrc.json
  apps/backend/src/main.ts
  apps/frontend/project.json
  apps/frontend/proxy.conf.json
  apps/frontend/src/app/app.module.ts
  apps/frontend/src/app/layouts/root.layout.html
  apps/frontend/src/app/routing/app.routes.ts
  apps/frontend/src/app/translation/translation.module.ts
  apps/frontend/src/environments/environment.prod.ts
  apps/frontend/src/environments/environment.ts
  apps/frontend/src/styles.scss
  libs/challenge-management/backend/common-models/src/lib/models/entities/semester.entity.ts
  libs/shared/frontend/environment/README.md
  libs/shared/frontend/storybook-host/README.md
  libs/shared/frontend/ui/atoms/README.md
  libs/user/backend/common-models/src/lib/models/interfaces/user.interface.ts
  libs/user/backend/common-models/src/lib/models/validators/is-allowed-email-domain.validator.ts
  libs/user/backend/user-authentication/src/lib/controller/auth.controller.ts
  libs/user/backend/user-authentication/src/lib/models/dtos/login-user.dto.ts
  libs/user/backend/user-authentication/src/lib/models/dtos/register-user.dto.ts
  libs/user/backend/user-authentication/src/lib/services/auth.service.ts
  libs/user/backend/user-authentication/src/lib/services/auth.spec.ts
  libs/user/frontend/domain/README.md
  nx.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: nx format:write --uncommitted, nx affected --target stylelint --fix true

docs(base-application):
  README.md
Due: nx format:write --uncommitted

feat(user-frontend-identity-management):
  .commitlintrc.js
  libs/shared/frontend/ui/atoms/documentation.json
  libs/shared/frontend/ui/atoms/src/lib/card/component/card.component.html
  libs/shared/frontend/ui/atoms/src/lib/card/component/card.component.scss
  libs/shared/frontend/ui/atoms/src/lib/card/component/card.component.ts
  libs/shared/frontend/ui/atoms/src/lib/icon/component/icon.component.ts
  libs/shared/frontend/ui/atoms/src/lib/icon/models/phosphor-icons.ts
  libs/shared/frontend/ui/organisms/src/lib/verification/component/verification.component.html
  libs/shared/frontend/ui/organisms/src/lib/verification/component/verification.component.scss
  libs/shared/frontend/ui/organisms/src/lib/verification/component/verification.component.stories.ts
  libs/shared/frontend/ui/organisms/src/lib/verification/component/verification.component.ts
  libs/user/frontend/auth/src/lib/public-api.ts
  libs/user/frontend/domain/src/lib/application/facades/register-user.facade.ts
  libs/user/frontend/domain/src/lib/infrastructure/user.repository.ts
  libs/user/frontend/identity-management/src/assets/i18n/de.json
  libs/user/frontend/identity-management/src/assets/i18n/en.json
  libs/user/frontend/identity-management/src/lib/components/login/login.component.html
  libs/user/frontend/identity-management/src/lib/components/login/login.component.scss
  libs/user/frontend/identity-management/src/lib/components/login/login.component.ts
  libs/user/frontend/identity-management/src/lib/components/register/register.component.html
  libs/user/frontend/identity-management/src/lib/components/register/register.component.ts
  libs/user/frontend/identity-management/src/lib/identity-management.module.ts
  libs/user/frontend/identity-management/src/lib/models/interfaces/card-information.interface.ts
Due: nx format:write --uncommitted, nx affected --target stylelint --fix true

feat(user-backend-user-authentication):
  libs/user/backend/user-authentication/src/lib/controller/auth.controller.ts
  libs/user/backend/user-authentication/src/lib/services/auth.service.ts
  libs/user/backend/user-authentication/src/lib/services/auth.spec.ts
  libs/user/common/models/src/lib/models/interfaces/response-authentication.interfaces.ts
Due: nx format:write --uncommitted

feat(user-frontend-identity-management):
  libs/shared/common/styles/src/scss/_index.scss
  libs/shared/common/styles/src/scss/components/_forms.scss
  libs/shared/common/styles/src/scss/components/_index.scss
  libs/shared/common/styles/src/scss/components/_links.scss
  libs/shared/common/styles/src/scss/rspd-style.scss
  libs/shared/common/styles/src/scss/settings/_index.scss
  libs/user/backend/user-authentication/src/lib/controller/auth.controller.ts
  libs/user/backend/user-authentication/src/lib/services/auth.service.ts
  libs/user/backend/user-management/src/lib/services/student.service.ts
  libs/user/backend/user-management/src/lib/services/tutor.service.ts
  libs/user/backend/user-management/src/lib/services/user.service.ts
  libs/user/frontend/auth/src/lib/models/errors/public-api.ts
  libs/user/frontend/auth/src/lib/models/errors/unconfirmed-mail.error.ts
  libs/user/frontend/auth/src/lib/models/public-api.ts
  libs/user/frontend/auth/src/lib/services/auth.service.ts
  libs/user/frontend/domain/src/lib/application/facades/profile-user.facade.ts
  libs/user/frontend/domain/src/lib/infrastructure/user.repository.ts
  libs/user/frontend/identity-management/src/assets/i18n/de.json
  libs/user/frontend/identity-management/src/assets/i18n/en.json
  libs/user/frontend/identity-management/src/lib/components/login/login.component.html
  libs/user/frontend/identity-management/src/lib/components/login/login.component.ts
  libs/user/frontend/identity-management/src/lib/components/profile/profile.component.ts
  libs/user/frontend/identity-management/src/lib/components/register/register.component.html
  libs/user/frontend/identity-management/src/lib/components/register/register.component.ts
  libs/user/frontend/identity-management/src/lib/models/interfaces/card-information.interface.ts
  libs/user/frontend/identity-management/src/lib/models/validators/auth-input.validator.ts
Due: nx format:write --uncommitted, nx affected --target stylelint --fix true

feat(base-application):
  libs/user/frontend/auth/src/lib/models/interceptors/auth.interceptor.ts
  libs/user/frontend/auth/src/lib/services/auth.service.ts
  libs/user/frontend/domain/src/lib/infrastructure/user.repository.ts
  libs/user/frontend/identity-management/src/lib/components/login/login.component.html
  libs/user/frontend/identity-management/src/lib/components/register/register.component.html
  libs/user/frontend/identity-management/src/lib/components/register/register.component.ts
  libs/user/frontend/identity-management/src/lib/identity-management.module.ts
  libs/user/frontend/shell/src/lib/page/user.page.scss
  libs/user/frontend/shell/src/lib/shell.routes.ts
Due: nx format:write --uncommitted, nx affected --target stylelint --fix true

fix(base-application):
  .eslintrc.json
  apps/frontend/src/app/layouts/root.layout.ts
  libs/user/frontend/auth/src/lib/models/public-api.ts
  libs/user/frontend/shell/src/lib/shell.routes.ts
Due: nx format:write --uncommitted

fix(base-application):
  package-lock.json
  package.json
Due: nx format:write --uncommitted

feat(shared-frontend-ui):
  libs/shared/common/styles/src/scss/settings/vendors/_bootstrap.scss
  libs/shared/frontend/ui/atoms/documentation.json
  libs/shared/frontend/ui/atoms/src/lib/key-figure/component/key-figure.component.html
  libs/shared/frontend/ui/atoms/src/lib/key-figure/component/key-figure.component.scss
  libs/shared/frontend/ui/atoms/src/lib/key-figure/component/key-figure.component.spec.ts
  libs/shared/frontend/ui/atoms/src/lib/key-figure/component/key-figure.component.stories.ts
  libs/shared/frontend/ui/atoms/src/lib/key-figure/component/key-figure.component.ts
  libs/shared/frontend/ui/atoms/src/lib/key-figure/models/key-figure.interface.ts
  libs/shared/frontend/ui/atoms/src/lib/key-figure/models/public-api.ts
  libs/shared/frontend/ui/atoms/src/lib/key-figure/public-api.ts
  libs/shared/frontend/ui/atoms/src/lib/progress-bar/components/progress-bar.component.html
  libs/shared/frontend/ui/atoms/src/lib/progress-bar/components/progress-bar.component.scss
  libs/shared/frontend/ui/atoms/src/lib/progress-bar/components/progress-bar.component.spec.ts
  libs/shared/frontend/ui/atoms/src/lib/progress-bar/components/progress-bar.component.stories.ts
  libs/shared/frontend/ui/atoms/src/lib/progress-bar/components/progress-bar.component.ts
  libs/shared/frontend/ui/atoms/src/lib/public-api.ts
  libs/shared/frontend/ui/molecules/src/lib/absolute-digits/absolute-digits.component.html
  libs/shared/frontend/ui/molecules/src/lib/absolute-digits/absolute-digits.component.scss
  libs/shared/frontend/ui/molecules/src/lib/absolute-digits/absolute-digits.component.spec.ts
  libs/shared/frontend/ui/molecules/src/lib/absolute-digits/absolute-digits.component.stories.ts
  libs/shared/frontend/ui/molecules/src/lib/absolute-digits/absolute-digits.component.ts
  libs/shared/frontend/ui/molecules/src/lib/assignment-overview/assignment-overview.component.html
  libs/shared/frontend/ui/molecules/src/lib/assignment-overview/assignment-overview.component.scss
  libs/shared/frontend/ui/molecules/src/lib/assignment-overview/assignment-overview.component.spec.ts
  libs/shared/frontend/ui/molecules/src/lib/assignment-overview/assignment-overview.component.stories.ts
  libs/shared/frontend/ui/molecules/src/lib/assignment-overview/assignment-overview.component.ts
  libs/user/frontend/identity-management/src/lib/components/connect-github/connect-github.component.html
  libs/user/frontend/identity-management/src/lib/components/connect-github/connect-github.component.scss
  libs/user/frontend/identity-management/src/lib/components/connect-github/connect-github.component.spec.ts
  libs/user/frontend/identity-management/src/lib/components/connect-github/connect-github.component.ts
Due: nx format:write --uncommitted, nx affected --target stylelint --fix true

feat: add all latest changes
  README.md
  apps/frontend/src/index.html
  libs/moodle-management/backend/moodle-request-handler/src/lib/services/moodle-request-handler.service.ts
  libs/shared/frontend/ui/atoms/documentation.json
  libs/shared/frontend/ui/atoms/src/lib/progress-bar/components/progress-bar.component.scss
  libs/shared/frontend/ui/atoms/src/lib/public-api.ts
  libs/shared/frontend/ui/atoms/src/lib/round-progress-bar/models/percentage-name.ts
  libs/shared/frontend/ui/atoms/src/lib/round-progress-bar/public-api.ts
  libs/shared/frontend/ui/atoms/src/lib/round-progress-bar/round-progress-bar.component.html
  libs/shared/frontend/ui/atoms/src/lib/round-progress-bar/round-progress-bar.component.scss
  libs/shared/frontend/ui/atoms/src/lib/round-progress-bar/round-progress-bar.component.spec.ts
  libs/shared/frontend/ui/atoms/src/lib/round-progress-bar/round-progress-bar.component.stories.ts
  libs/shared/frontend/ui/atoms/src/lib/round-progress-bar/round-progress-bar.component.ts
  libs/student-submissions/frontend/domain/src/lib/application/facades/submission-overview.facade.ts
  libs/student-submissions/frontend/shell/src/lib/pages/overview/submission-overview.page.html
  libs/student-submissions/frontend/shell/src/lib/pages/overview/submissions-overview.page.scss
  libs/student-submissions/frontend/shell/src/lib/pages/overview/submissions-overview.page.ts
  libs/student-submissions/frontend/submission-overview/src/lib/components/challenges-overview/challenge-overview.component.scss
  libs/student-submissions/frontend/submission-overview/src/lib/pages/overview/overview.component.html
  libs/student-submissions/frontend/submission-overview/src/lib/pages/overview/overview.component.scss
  libs/student-submissions/frontend/submission-overview/src/lib/pages/overview/overview.component.spec.ts
  libs/student-submissions/frontend/submission-overview/src/lib/pages/overview/overview.component.ts
  package-lock.json
  package.json
Due: nx format:write --uncommitted, nx affected --target stylelint --fix true
